/* GENERICS SETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}


/* MAIN */
.main {
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-family: 'Fredoka', sans-serif;
    color: #E53170;
    padding: 40px 0;
}

.paragraph {
    padding: 40px 0;
    font-family: 'Fredoka', sans-serif;
}

.row {
    width: calc(100% + 20px);
    float: left;
    margin-left: -10px;
    margin-right: -10px;
  }

  .col1-3 {
    width: calc(100%/3 - 20px);
    height: 150px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #0F0E17;
    text-align: left;
    box-shadow: 8px 8px 8px 2px gray;
  } 

  .col1-3 img {
    height: 100%;
    float: left;
  }

  .col1-3  p {
    color:white;
    font-size: 30px;
  }

  .wrapper-text {
    padding-top: 23px;
    padding-left: 175px;
  }

  .wrapper-text a {
    text-decoration: none;
    font-size: 21px;
  }

.clear,
.row {
    display: block;
    clear: both;
}